html,
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.content-container {
  padding: 0 15px;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
}

.app-header > .navigation-container {
  display: flex;
  align-items: center;
}

.navigation-container > h4 {
  font-weight: 500;
}

.page-header {
  width: 100%;
  height: 100px;
  border-radius: 0 0 20px 20px;
}

.app-header > img {
  border-radius: 50%;
}

/* CATEGORY BUBBLE */
.category-bubble-item {
  width: 20%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-bubble-item > .category-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-bubble-item > .category-label {
  text-align: center;
  font-size: 0.8rem;
}

.categories-listing-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: space-between;
  padding: 0px 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* SCROLLABLE GRID COMPONENT STYLE */
.scrollable-grid-container {
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
}

.scrollable-grid-container > .scrollable-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.scrollable-grid-container > .scrollable-grid-header > button {
  background: transparent;
  border: none;
  font-size: 0.7rem;
}

.scrollable-grid {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.scrollable-grid > .grid-item {
  width: 35%;
  min-width: 35%;
  height: 150px;
}

.scrollable-grid > .grid-item > .grid-image {
  border-radius: 20px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.scrollable-grid > .grid-item > .grid-label {
  font-weight: 500;
}

button {
  border: none;
  outline: none;
  padding: 10px;
}

/* APPOINTMENT RADIO */
.appointment-radio > h4 {
  margin-bottom: 10px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 10px;
}

.items-container > .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46%;
  min-width: 45%;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  color: rgb(180, 180, 180);
  border-color: rgb(180, 180, 180);
  border-radius: 10px;
  cursor: pointer;
}

.selected {
  color: #f1768a !important;
  background: #f1768b81;
  border-color: #f1768a !important;
}
